* {
  margin: 0;
  padding: 0;
}

body {
  color: #a7a7a7;
  background-color: #000;
  font-family: "Varela Round", sans-serif;
}
a {
  color: rgb(170, 170, 170);
}

a.capitalize span.capitalize {
  text-transform: capitalize;
  text-decoration: none;
  color: #a7a7a7;
}

span.capitalize {
  text-transform: capitalize;
}

a:hover {
  color: rgb(200, 200, 200);
}
i {
  color: #a7a7a7;
}
.header {
  background: rgb(40, 40, 40);
  padding: 10px;
  color: rgb(170, 170, 170);
  border-bottom: 1 px solid #000;
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
  align-items: center;
}

.user__info {
  display: flex;
  align-items: center;
  padding: 10px 10px;
}

.page-header-flow .flow {
  font-size: 20px;
  color: rgb(170, 170, 170);
  margin: 0 10px;
}
.flow {
  color: #fff;
}

.disabled {
  color: rgba(170, 170, 170, 0.301);
}

.search {
  margin-left: 1%;
}

.navigation__list {
  margin-bottom: 0;
  width: calc(100% / 5);
  text-align: center;
}
input {
  border-radius: 20px;
  border: none;
  background-color: #fff;
  padding-left: 30px;
  padding: 15px;
  width: 400px;
  outline: none;
  background-image: url(https://i.scdn.co/image/ab67757000003b8283d6714c366d78dea378bf93);
  background-repeat: no-repeat;
  background-size: 7%;
  background-position: 5px;
}

::placeholder {
  color: deeppink;
  font-size: 1rem;
  padding: 20px;
  text-transform: uppercase;
}
.user {
  width: 300px;
  margin-left: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.fas {
  font-size: 20px;
}

.fas:hover {
  color: #fff;
  cursor: pointer;
}

.img {
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
  display: inline-block;
  margin: 10px 5px 0 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(40, 40, 40);
  margin-top: 25px;
  border-radius: 2px;
  padding: 0;
  border: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-menu-link {
  color: rgb(170, 170, 170);
  transition: all 0.2s ease;
  text-transform: capitalize;
  text-decoration: none;
}

.dropdown-menu-link:hover {
  background: none;
  transition: all 0.2s ease;
}

.list-menu {
  padding: 10px;
  margin: 0;
  transition: all 0.2s ease;
  list-style-type: none;
}

.list-menu:hover {
  background: rgb(200, 200, 200);
  border: 1px solid rgb(170, 170, 170);
  border-radius: 8px;
  transition: all 0.2s ease;
}

.list-menu a {
  color: rgb(200, 200, 200);
  transition: all 0.2s ease;
}

.list-menu a:hover {
  color: rgb(0, 0, 0);
  transition: all 0.2s ease;
}

.content {
  display: flex;
  flex-flow: row wrap;
}

.content-sidebar {
  width: 15%;
}

.main-content {
  width: 70%;
}

@media (max-width: 1400px) {
  .content-sidebar {
    width: 20%;
  }

  .main-content {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .content-sidebar {
    width: 100%;
  }

  .main-content {
    width: 100%;
  }
}

.navigation {
  background-color: rgb(40, 40, 40);
  color: rgb(170, 170, 170);
  overflow-y: scroll;
  height: 100vh;
}

.navigation__list-header {
  padding: 10px 10px;
}

.navigation__list {
  display: flex;
  flex-flow: column wrap;
  margin: 0;
  padding: 15px 0 0 15px;
  background-color: rgb(40, 40, 40);
}

.navigation__list__item {
  color: rgb(170, 170, 170);
  padding: 5px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-decoration: none;
}

.navigation__list__item:hover {
  color: rgb(250, 250, 250);

  text-decoration: none;
  border-radius: 3px solid rgb(170, 170, 170);
}

.navigation__list__item i {
  width: 25px;
  display: block;
}

span {
  padding-left: 5px;
}

@media (max-width: 786px) {
  .navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .navigation__list {
    margin-bottom: 0;
    width: calc(100% / 3);
    text-align: center;
  }

  .navigation__list__item {
    width: 100%;
    text-align: center;
  }
  .navigation__list__item:hover {
    border: none;
  }

  i {
    display: none;
  }
  span {
    margin: 0 auto;
  }
}
.playing {
  background-color: rgb(40, 40, 40);
  border-bottom: 1px solid rgb(0, 0, 0);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.playing__art img {
  width: 50px;
  height: 50px;
}

.playing__song {
  color: rgb(170, 170, 170);
  padding-left: 15px;
  display: flex;
  flex-flow: column wrap;
}

.playing__song > a {
  color: rgb(170, 170, 170);
}

.playing__song > a:hover {
  color: rgb(250, 250, 250);
  cursor: pointer;
}

.playing__song__name,
.playing__song__artist {
  text-decoration: none;
}

.playing__add {
  padding-left: 10px;
}

.playing__add > .fas {
  color: rgb(141, 201, 51);
}

.episodes__podcast-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main__episodes {
  margin: 10px;
}

.main__episodes-img {
  width: 14rem;
}

.main-section__title {
  color: #fff;
  padding: 10px 0 10px 10px;
}

.main-section__episodes,
.main-section__music {
  padding: 10px 0 10px 10px;
}
