* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Varela Round", sans-serif;
}

.header {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

.header__navbar-container,
.brand__logo-container {
  margin: 0 auto;
  padding: 0 15px;
}

.header__navbar-list {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav__link-header-list a,
.nav__link-header-list-register a {
  padding: 30px;
  font-size: 21px;
  color: #fff;
  text-decoration: none;
  list-style-type: none;
}
.nav__link-header-list-register a {
  color: #d1dadc;
}

.nav__link-header-list-break {
  color: #d1dadc;
  list-style-type: none;
}
.button-toggle {
  display: none;
}

@media (max-width: 992px) {
  .header__navbar-container {
    max-width: 970px;
  }

  .nav__link-header-list a,
  .nav__link-header-list-register a {
    font-size: 16px;
    padding: 10px;
  }
}

@media (max-width: 776px) {
  .button-toggle {
    display: flex;
    position: absolute;
    top: 20px;
    left: 30px;
    background-image: url("/assets/images/menu-4-24.png");
    background-size: cover;
    z-index: 1;
    width: 2rem;
    height: 2rem;
    border: 0;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  .brand__logo-container {
    display: block;
    padding: 15px;
  }
  .header__navbar-container {
    display: none;
  }
}
