* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Varela Round", sans-serif;
}

.header {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

.header__navbar-container {
  margin: 0 auto;
  padding: 0 15px;
}

.brand__logo-container {
  align-self: center;
  margin: auto;
  transition: 200ms ease-in-out;
}

.brand__logo-container:hover {
  cursor: pointer;
}

.header__navbar-list {
  display: flex;
  align-items: center;
  height: 80px;
  transition: 200ms ease-in-out;
}

.nav__link-header-list a,
.nav__link-header-list-register a {
  padding: 30px;
  font-size: 21px;
  color: #fff;
  text-decoration: none;
  list-style-type: none;
  font-weight: 600;
}
.nav__link-header-list-register a {
  color: #d1dadc;
  font-weight: 600;
}

.nav__link-header-list-break {
  color: #d1dadc;
  list-style-type: none;
}

a:hover {
  color: #1ed760;
}

.header__navbar-sidebar {
  display: flex;
}

.navigation__link-header-sidebar {
  display: none;
}

.button-toggle {
  display: none;
}

@media (max-width: 992px) {
  .header__navbar-container {
    max-width: 970px;
  }

  .nav__link-header-list a,
  .nav__link-header-list-register a {
    font-size: 18px;
    padding: 10px;
  }
}

a {
  transform: translateX(80px);
}

@media (max-width: 776px) {
  body {
    overflow: hidden;
  }

  .header {
    display: flex;
  }

  .header__navbar-list a {
    display: none;
  }

  .header__navbar-list {
    margin-right: 0px;
  }

  .brand__logo-container {
    justify-content: flex-start;
    margin-left: 0;
    transform: scale(0.8);
  }
  .nav__link-header-list-break {
    display: none;
  }

  .button-toggle {
    display: flex;
    position: absolute;
    top: 20px;
    left: 85%;
    background-image: url("/assets/images/icons8-menu.svg");
    background-size: cover;
    z-index: 1;
    width: 2rem;
    height: 2rem;
    border: 0;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  .button-toggle[aria-expanded="true"] {
    display: flex;
    position: absolute;
    top: 2%;
    left: 85%;
    background-image: url("/assets/images/icons8-close.svg");
    background-size: cover;
    z-index: 1;
    width: 2rem;
    height: 2rem;
    border: 0;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  .navigation__link-header-sidebar {
    display: none;
    justify-content: right;
    z-index: 1;
  }

  .navigation__link-header-sidebar[data-visible="true"] {
    display: flex;
  }

  .header__navbar-sidebar {
    display: flex;
    flex-direction: column;
    margin-top: -2;
    margin-left: auto;
    height: 100vh;
    width: 60vw;
    position: absolute;
    background-color: #000;
    list-style: none;
    padding-left: 35px;
  }

  .header__navbar-sidebar li {
    padding-bottom: 30px;
  }

  li a {
    color: #fff;
    list-style-type: none;
    text-decoration: none;
  }

  li:hover {
    color: #1ed760;
  }

  .header__navbar-sidebar li:nth-child(1) {
    font-size: 2em;
  }

  .header__navbar-sidebar li:nth-child(2) {
    font-size: 2em;
  }

  .header__navbar-sidebar li:nth-child(3) {
    font-size: 2em;
  }

  .nav__link-header-list__break-sidebar {
    color: #d1dadc;
    list-style-type: none;
  }

  .header__navbar-sidebar li:nth-child(5) {
    font-size: 1.3em;
    font-family: "Montserrat", sans-serif;
    padding-top: 20px;
  }

  .header__navbar-sidebar li:nth-child(6) {
    font-size: 1.3em;
    font-family: "Montserrat", sans-serif;
  }

  .header__navbar-sidebar li:nth-child(7) {
    transform: scale(0.8);
    align-self: flex-start;
    justify-self: last baseline;
    margin-top: 10px;
  }

  .header__navbar-sidebar li:nth-child(4) {
    padding-bottom: 0px;
  }
}

/* Main Section container */

.main__section-container-section {
  background-color: rgb(223, 12, 139);
  color: #fff;
}

.main__section-container-section > article {
  height: 600px;
  background-repeat: no-repeat;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
}

.section__container-header-1 {
  display: flex;
  position: relative;
  width: 1170px;
}

.section__container-header-title {
  font-size: 64px;
  max-width: 643px;
}

.container-header-subtitle {
  font-size: 44px;
  line-height: 2%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.section__container-header-buttons {
  padding-top: 30px;
}

.section__container-header-button,
.section__container-header-button-1 {
  font-size: 14px;
  text-transform: uppercase;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  background-color: #fff;
  width: 153px;
  /* border: 0px; */
  border-radius: 500px;
  display: inline-block;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  transition-duration: 33ms;
  vertical-align: middle;
  transform: translate3d(0px, 0px, 0px);
  padding: 10px;
}

.section__container-header-button-1 {
  background-color: #1ed760;
  width: 282px;
}

.section__container-header-button:hover,
.section__container-header-button-1:hover {
  cursor: pointer;
  outline: none;
  background-color: #ecf0f0;
  padding: 15px;
}

.section__container-header-button-1:hover {
  background-color: rgba(223, 12, 139, 0.676);
  color: #fff;
  padding: 15px;
}

.section__container-header-paragraphs {
  padding-top: 10px;
  font-style: italic;
}
@media (min-width: 767px) {
  .section__container-header-1 {
    margin: 0 9px;
  }

  .section__container-header-title {
    font-size: 64px;
    max-width: 643px;
  }
}
.mobile-svg {
  width: 286px;
  height: 573px;
}

.img-container {
  position: relative;
  width: 40%;
  padding-top: 100px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;

  /* background-color: #1ed760; */
}

.img-div {
  position: absolute;
  right: 0px;
  left: 0px;
  height: 575px;
  bottom: -90px;
  z-index: 1;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.image-container-music {
  width: 267px;
  height: 445px;
}

.title-elements {
  padding-top: 150px;
}

@media (max-width: 767px) {
  .div__container-image,
  .img-container {
    display: none;
  }
  .main__section-container-section {
    max-width: 970px;
    padding: 0px 10px;
    background-color: #1ed760;
  }

  .title-elements {
    margin-left: 24px;
    padding-top: 30px;
  }
}

@media (max-width: 990px) {
  .title-elements {
    margin-left: 24px;
    padding-top: 150px;
  }
}

@media (max-width: 767px) {
  .title-elements {
    margin-left: 24px;
    padding-top: 10px;
  }
}
.section__premium-container {
  overflow: auto;
  background-color: #fff;
  height: 872px;
}

.section__premium-article {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 45px;
}

.section__premium-table {
  display: flex;
  justify-content: center;
}
.section__premium-subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  max-width: 379px;
  padding: 40px 0;
}

.section__premium-image {
  border-radius: 20%;
}

.section__premium-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  padding: 50px 0;
  max-width: 380px;
  margin: auto;
  text-align: center;
}

.button-premium,
.section__more-questions-section-button {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0714286em;
  text-transform: uppercase;
  background: #000;
  padding: 17px 58px;
  border-radius: 40px;
  text-decoration: none;
}

.section__more-questions-section-button:hover {
  color: #1ed760;
  cursor: pointer;
}

.section__more-questions-section {
  overflow: auto;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
}

.section__premium-button-container {
  display: flex;
  justify-content: center;

  margin: 40px 0;
}

footer {
  background: #000;
  padding: 50px 0 20px;
}
/* .section__container-header {
  height: 570px;
  display: flex;
  align-items: center;
} */

/* .section__container-header-1 {
  display: flex;
  width: 1170px;
} */

/* .img-container {
  position: relative;
  width: 40%;
  padding-top: 100px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}



.div__container-image {
  position: absolute;
  right: 0px;
  left: 0px;
  height: 555px;
  bottom: -133px;
  z-index: 1;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.image-container-music{
  width: 237px;
  height: 495px;
}

.section__container-header-title {
  font-size: 34px;
  letter-spacing: -2.56px;
  max-width: 653px;
} */

/* .section__container-header-1 {
  display: flex;
  flex-grow: 1;
  -webkit-box-align: center;
  align-items: center;
}

.main__section-container-section > article {
  padding-top: 24px;
  width: 1170px;
}



.section__container-header-title {
  font-size: 34px;
  letter-spacing: -2.56px;
  max-width: 653px;
} */
