* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Varela Round", sans-serif;
}

.header {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

.header__navbar-container {
  margin: 0 auto;
  padding: 0 15px;
}

.brand__logo-container {
  align-self: center;
  margin: auto;
  transition: 200ms ease-in-out;
}

.brand__logo-container:hover {
  cursor: pointer;
}

.header__navbar-list {
  display: flex;
  align-items: center;
  height: 80px;
  transition: 200ms ease-in-out;
}

.nav__link-header-list a,
.nav__link-header-list-register a {
  padding: 30px;
  font-size: 21px;
  color: #fff;
  text-decoration: none;
  list-style-type: none;
  font-weight: 600;
}
.nav__link-header-list-register a {
  color: #d1dadc;
  font-weight: 600;
}

.nav__link-header-list-break {
  color: #d1dadc;
  list-style-type: none;
}

a:hover {
  color: #1ed760;
}

.header__navbar-sidebar {
  display: flex;
}

.navigation__link-header-sidebar {
  display: none;
}

.button-toggle {
  display: none;
}

@media (max-width: 992px) {
  .header__navbar-container {
    max-width: 970px;
  }

  .nav__link-header-list a,
  .nav__link-header-list-register a {
    font-size: 18px;
    padding: 10px;
  }
}

a {
  transform: translateX(80px);
}

@media (max-width: 776px) {
  .header {
    display: flex;
  }

  .header__navbar-list a {
    display: none;
  }

  .header__navbar-list {
    margin-right: 0px;
  }

  .brand__logo-container {
    justify-content: flex-start;
    margin-left: 0;
    transform: scale(0.8);
  }
  .nav__link-header-list-break {
    display: none;
  }

  .button-toggle {
    display: flex;
    position: absolute;
    top: 20px;
    left: 85%;
    background-image: url("/assets/images/icons8-menu.svg");
    background-size: cover;
    z-index: 1;
    width: 2rem;
    height: 2rem;
    border: 0;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  .button-toggle[aria-expanded="true"] {
    display: flex;
    position: absolute;
    top: 2%;
    left: 85%;
    background-image: url("/assets/images/icons8-close.svg");
    background-size: cover;
    z-index: 1;
    width: 2rem;
    height: 2rem;
    border: 0;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  .navigation__link-header-sidebar {
    display: none;
    justify-content: right;
    z-index: 1;
  }

  .navigation__link-header-sidebar[data-visible="true"] {
    display: flex;
  }

  .header__navbar-sidebar {
    display: flex;
    flex-direction: column;
    margin-top: -2;
    margin-left: auto;
    height: 100vh;
    width: 60vw;
    position: absolute;
    background-color: #000;
    list-style: none;
    padding-left: 35px;
  }

  .header__navbar-sidebar li {
    padding-bottom: 30px;
  }

  li a {
    color: #fff;
    list-style-type: none;
    text-decoration: none;
  }

  li:hover {
    color: #1ed760;
  }

  .header__navbar-sidebar li:nth-child(1) {
    font-size: 2em;
  }

  .header__navbar-sidebar li:nth-child(2) {
    font-size: 2em;
  }

  .header__navbar-sidebar li:nth-child(3) {
    font-size: 2em;
  }

  .nav__link-header-list__break-sidebar {
    color: #d1dadc;
    list-style-type: none;
  }

  .header__navbar-sidebar li:nth-child(5) {
    font-size: 1.3em;
    font-family: "Montserrat", sans-serif;
    padding-top: 20px;
  }

  .header__navbar-sidebar li:nth-child(6) {
    font-size: 1.3em;
    font-family: "Montserrat", sans-serif;
  }

  .header__navbar-sidebar li:nth-child(7) {
    transform: scale(0.8);
    align-self: flex-start;
    justify-self: last baseline;
    margin-top: 10px;
  }

  .header__navbar-sidebar li:nth-child(4) {
    padding-bottom: 0px;
  }
}

/* Main Section container */

.main__section-container-section {
  background-color: rgb(223, 12, 139);
  color: #fff;
}

.main__section-container-section > article {
  height: 600px;
  background-repeat: no-repeat;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
}

.section__container-header-1 {
  display: flex;
  position: relative;
  width: 1170px;
}

.section__container-header-title {
  font-size: 64px;
  max-width: 643px;
}

.container-header-subtitle {
  font-size: 44px;
  line-height: 2%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.section__container-header-buttons {
  padding-top: 30px;
}

.section__container-header-button,
.section__container-header-button-1 {
  font-size: 14px;
  text-transform: uppercase;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  background-color: #fff;
  width: 153px;
  border: 0px;
  border-radius: 500px;
  display: inline-block;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  transition-duration: 33ms;
  vertical-align: middle;
  transform: translate3d(0px, 0px, 0px);
  padding: 10px;
}

.section__container-header-button-1 {
  background-color: #1ed760;
  width: 282px;
}

.section__container-header-button:hover,
.section__container-header-button-1:hover {
  cursor: pointer;
  outline: none;
  background-color: #ecf0f0;
  transition: background-color 0.5s easi-in 0.3;
}

.section__container-header-button-1:hover {
  background-color: rgba(240, 236, 239, 0.676);
  color: #fff;
  transition: background-color 0.5s easi-in 0.3;
}

.section__container-header-paragraphs {
  padding-top: 10px;
  font-style: italic;
}
@media (min-width: 767px) {
  .section__container-header-1 {
    margin: 0 9px;
  }

  .section__container-header-title {
    font-size: 64px;
    max-width: 643px;
  }
}
.mobile-svg {
  width: 286px;
  height: 573px;
}

.img-container {
  position: relative;
  width: 40%;
  padding-top: 100px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;

  /* background-color: #1ed760; */
}

.img-div {
  position: absolute;
  right: 0px;
  left: 0px;
  height: 575px;
  bottom: -90px;
  z-index: 1;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.image-container-music {
  width: 267px;
  height: 445px;
}

.title-elements {
  padding-top: 150px;
}

@media (max-width: 767px) {
  .div__container-image,
  .img-container {
    display: none;
  }
  .main__section-container-section {
    max-width: 970px;
    padding: 0px 10px;
    background-color: #1ed760;
  }

  .title-elements {
    margin-left: 24px;
    padding-top: 30px;
  }
}

@media (max-width: 990px) {
  .title-elements {
    margin-left: 24px;
    padding-top: 150px;
  }
}

@media (max-width: 767px) {
  .title-elements {
    margin-left: 24px;
    padding-top: 10px;
  }
}
.section__premium-container {
  overflow: auto;
  background-color: #fff;
  height: 872px;
}

.section__premium-article {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 45px;
}

.section__premium-table {
  display: flex;
  justify-content: center;
}

.section__premium-subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  max-width: 379px;
  padding: 40px 0;
}

.section__premium-image {
  border-radius: 20%;
}

.section__premium-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  padding: 50px 0;
  max-width: 380px;
  margin: auto;
  text-align: center;
}

.button-premium,
.section__more-questions-section-button {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0714286em;
  text-transform: uppercase;
  background: #000;
  padding: 17px 58px;
  border-radius: 40px;
  text-decoration: none;
}

.section__more-questions-section-button:hover {
  color: #1ed760;
  cursor: pointer;
}

.section__more-questions-section {
  overflow: auto;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
}

.section__premium-button-container {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
  background-color: #fff;
  padding: 40px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

h4 {
  margin: 10px 0 10px 0;
  font-size: 24px;
  color: #000;
  text-align: center;
}

.card-container-paragraphs {
  font-size: 20px;
  text-align: center;
  font-style: italic;
}

.section__premium-subtitle-images {
  border-radius: 5px 5px 0 0;
}

.cards {
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 50px;
}

.card__image {
  background-image: url("https://images.unsplash.com/photo-1611339555312-e607c8352fd7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.btn {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0714286em;
  text-transform: uppercase;
  background: #000;
  padding: 17px 58px;
  border-radius: 40px;
  text-decoration: none;
}

.btn:hover {
  color: #1ed760;
  cursor: pointer;
}

.btn--block {
  display: block;
  width: 100%;
}

.cards__item {
  display: flex;
  padding: 1rem;
}
@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}

@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}

@media (max-width: 962px) {
  .cards {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card__image {
    display: none;
  }

  .footer-link-country a.footer-links__columns-useful-title {
    display: none;
  }
}
.card-i {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  margin: 0px 0px 5px;
  padding: 0px;
  color: #000;
  text-transform: uppercase;
}

.card__title-description {
  padding: 10px 0;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin: 1.25rem 0;
}

footer {
  background: #000;
  padding: 50px 0 20px;
}

.nav-footer__container {
  margin: 0 auto;
}

.footer-logo-brand {
  padding: 0 15px;
}

.footer-links__columns {
  font-size: 16px;
  font-weight: 400;
}

.footer-links__columns-company,
.footer-links__columns-communities,
.footer-links__columns-useful {
  padding: 0 15px;
  margin: 0px;
}

@media (min-width: 768px) {
  .footer-links__columns-company,
  .footer-links__columns-communities,
  .footer-links__columns-useful {
    flex: 1 0;
  }
}

.footer-links__columns-company-title,
.footer-links__columns-communities-title,
.footer-links__columns-useful-title {
  color: #919496;
  font-size: 12px;
  font-weight: bolder;
  line-height: 1.4;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin: 20px 75px;
}

.footer-links__columns-company-description,
.footer-links__columns-communities-description,
.footer-links__columns-useful-description {
  margin: 0;
}

.footer-link-a {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.5;
  text-decoration: none;
  color: #fff;
}
@media (min-width: 1200px) {
  .nav-footer__container {
    width: 1170px;
  }
}
@media (min-width: 990px) {
  .footer-logo-brand {
    width: 16.6%;
    flex: 0 0 auto;
  }
  .nav-footer__container {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-links__columns {
    width: 50%;
    flex: 0 0 auto;
    flex-direction: row;
    display: flex;
  }
}

.footer-link-country {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0 15px;
}

.footer-link-country a {
  text-decoration: none;
}

.footer-bottom-links {
  width: 100%;
}

.footer-bottom-links-list__unorder {
  margin: 0 45px 0 0;
  padding: 0 0 0 15px;
  display: flex;
}

.footer-link__list {
  margin: 0 15px 0 auto;
  padding: 0.5em 0;
}

.footer-link__list .link-wrapper a {
  color: #919496;
  text-decoration: none;
  font-size: 12px;
}

.footer-link__list .link-wrapper a:hover {
  color: #1ed760;
}
